@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 

/* ==================================== */






/* .container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffb36c;

}

.div {
  max-width: 320px;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding-top: 15px;
  margin-right: 105px;
  margin-top: 20px;
} */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.div {
  /* width: calc(33.33% - 20px); */
  max-width: 320px;
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 20px;
  padding-top: 15px;
  margin-bottom: 20px;
  margin-right: 70px;
}

@media screen and (max-width: 1200px) {
  .div {
    width: calc(50% - 20px);
  }

  
}

@media screen and (max-width: 767px) {
  .div {
    width: calc(100% - 20px);
  }
}



/* ================================= */
.first-floor {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
}

.city {
  margin-right: 170px;
  margin-left: 30px;
}
.country {
  margin-right: 30px;
  white-space: nowrap;
}

.btn_container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 8px 18px;
  border-radius: 10px;
  background: #ffb36c;
  border: none;
  /* margin-left: 103px;
  margin-right: 103px; */
  white-space: nowrap;

  color: #000;
  text-align: right;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  margin: 0;
}

.time {
  color: #000;
  text-align: center;
  /* margin: 0 auto; */
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.second-floor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.list {
  margin-top: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date, .day, .city, .country {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.date,
.day {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.date {
  margin-right: 13px;
  margin-left: 90px;
}

.day {
  padding-left: 13px;
  border-left: solid #212121 1px;
  margin-right: 103px;
}

.temp {
  margin-top: 15px;
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
}

.search-icon .sun{
  object-fit: contain;
}

.search-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 20px;
}


.last-floor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 21px;
  margin-top: 40px;
}

.reflesh {
  margin-left: 20px;
  margin-right: 16px;
}

.see_more {
  padding: 8px 25px;
  border-radius: 10px;
  background: #ffb36c;
  border: none;
  margin-left: 38px;
  /* white-space: nowrap; */
  /* margin-right: 37px; */

  color: #000;
  /* text-align: right; */
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
}

.delete {
  margin-right: 20px;
  margin-left: 37px;
  display: block;
}

.choose_city {
  text-align: center;
  padding: 8px 18px;
  border-radius: 10px;
  background: #ffb36c;
}
